In [4]:
import requests 
import pandas as pd
from bs4 import BeautifulSoup # library to parse HTML documents

In [5]:
def get_sp500():
    # get the response in the form of html
    url="https://www.liberatedstocktrader.com/sp-500-companies-list-by-sector-market-cap/"
    # table_class="sortable wikitable jquery-tablesorter"
    response=requests.get(url)
    print(response.status_code)
    # parse data from the html into a beautifulsoup object
    soup = BeautifulSoup(response.text, 'html.parser')
    largest_company_table = soup.find('table',{'style':"border-collapse: collapse;"})
    df = pd.read_html(str(largest_company_table))[0]
    headers = df.iloc[0]
    df = pd.DataFrame(df.values[1:], columns=headers)
    return df

In [6]:
get_sp500()

200

,Ticker,Company,Sector,Market Capitalization,PE Ratio
0,MRO,Marathon Oil Corporation,Energy Minerals,17388156106,2262.602
1,MO,"Altria Group, Inc.",Consumer Non-Durables,81364639112,522.1622
2,ANET,"Arista Networks, Inc.",Electronic Technology,35807001092,471.4286
3,MTB,M&T Bank Corporation,Finance,25831948062,397.9184
4,CI,Cigna Corporation,Health Services,94846357195,332.8684
...,...,...,...,...,...
497,TXT,Textron Inc.,Electronic Technology,14914634263,0
498,CBOE,"Cboe Global Markets, Inc.",Finance,13129789649,0
499,BWA,BorgWarner Inc.,Producer Manufacturing,10445606990,0
500,ZION,Zions Bancorporation N.A.,Finance,7697833458,0
501,LNC,Lincoln National Corporation,Finance,5335363865,0